.logo {
  background-image: url(https://raw.githubusercontent.com/jaimesecture/chromecast/main/logo.png);
}

.progressBar {
  background-color: #B80E1A;
}

.splash {
  background-image: url(https://raw.githubusercontent.com/jaimesecture/chromecast/main/logo.png);
}
