.background {
  background-color: black;
}

.logo {
  background-image: url(https://raw.githubusercontent.com/jaimesecture/chromecast/main/logo.png);
}

.splash {
  background-image: url(https://raw.githubusercontent.com/jaimesecture/chromecast/main/hero.jpg);
  background-size: cover;
}
