.background {
  background-color: #000000;
}

.logo {
  background-image: url(https://raw.githubusercontent.com/jaimesecture/chromecast/main/logo.png);
}

.cast-media-player .progressBar {
  background-color: red !important;
}

.splash {
  background-image: url(https://raw.githubusercontent.com/jaimesecture/chromecast/main/hero.jpg);
  background-size: cover;
}
